	  
		/*Setting up the body properties*/
body
   	{
  	margin:25px auto;
   	width:960px;
   	font-family:Arial, Helvetica, sans-serif;
        background:url(images/background.jpg) top left no-repeat;
	background-size: cover;
	}

		/*Header Style*/

header {
	background-color:#98AFC7;
	color:#f3f3f3;
	text-align:center;
	padding:5px;
	}

		/*Navigation bar style*/

nav 	{
    	line-height:30px;
    	background-color:#E5E4E2;
    	height:25px;
    	width:950px;
    	float:left;
    	padding:5px; 
    	margin-top: 15px;
    	text-align: center;
	}

		

nav ul {
    	list-style-type: none;
    	margin: 0;
    	padding: 0;
    	overflow: hidden;
	}


nav li {
    float: left;
	}

nav a {
    	display: block;
    	width: 235px;
    	text-decoration: none;
    	padding: none;
	}

nav a:hover{
    	background-color: #98AFC7;
    	color: #f3f3f3;
	}

		/*Section style*/

section {
    	width:705px;
    	height: 295px;
    	float:left;
    	padding:10px;
    	margin-top: 15px;
    	margin-bottom: 15px; 
    	background-color: #E5E4E2;
    	display:table-cell;
	}

		/*Footer style*/

footer {
    	background-color:#98AFC7;
    	color:blue;
    	clear:both;
    	text-align:center;
    	padding:5px; 
	}

		/*SideBar style*/

aside {
	background-color: #E5E4E2;
	width: 200px;
	height: 295px;
	float: left;
	padding : 10px;
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left: 15px;
	}

#sideBar img {
	margin-bottom: 8px;
	}

		/*Latest books style*/

#latestBooks {
	    line-height:30px;
	    background-color:#E5E4E2;
	    height:200px;
	    width:950px;
	    float:left;
	    padding:5px; 
	    margin-bottom: 15px;
    	    text-align: center;
 	}

#latestBooks img {
	border-style: solid;
    	border-width: 5px;
	border-color: #98AFC7;
	margin-left: 15px;
	}

		/*Forum Contact style*/

#form label {
	display:block;
	margin-top:50px;
	letter-spacing:1px;
	}

#form form {
	margin: 0 auto;
	width: 420px;
	}

#form input, textarea {
	width: 400px;
	height: 27px;
	background: ##222222;
	border: 2px solid #837E7C;
	padding: 10px;
	margin-top: 10px;
	font-size: 0.7em;
	color:#black;
	}
	
#form textarea {
	height: 200px;
	font-family: Arila;
	}
	
#main {
	float: left;
	background-color: #E5E4E2;
	width: 960px;
	height: 500px;
	margin-top: 15px;
	margin-bottom: 15px;
	}


		/*table products*/

#tableProducts {
    	width:938px;
    	height: 295px;
    	float:left;
    	padding:10px;
    	margin-top: 15px;
    	margin-bottom: 15px; 
    	background-color: #E5E4E2;
    	display:table-cell;
	}

#tableProducts table, td, th {
	text-align: center;
    	border: 1px solid black;
	border-collapse: collapse;
	width: 938px;
	margin-left: 3px;
	}

#tableProducts th {
    background-color: #98AFC7;
    color: #f3f3f3;
	}